
[submodule "themes/float"]
	path = themes/float
	url = https://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@github.com/ifsheldon/ar_reifying_float_theme.git
