
[submodule "themes/float"]
	path = themes/float
	url = https://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@github.com/ifsheldon/ar_reifying_float_theme.git
